<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "new.app.id"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Kirk's Task List</name>

  <description>
      Vanilla JS diarised task-list. Options for daily or weekly tasks, removing on completion or permanent deletion.
  </description>

  <author email="kirk_kenney_1@hotmail.co.uk">
      Kirk Kenney
  </author>
  <icon src="icon.png" />

</widget>
